/**
 * author: shenshenyan
 * data: 2013-11-19 19:47
 */
/*reset*/
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}  
body{font:12px simsun Arial;background:#fff}  
a{text-decoration:none;color:#333; }  
a:hover{text-decoration:none; color:#6F9CC9;}
em{font-style:normal}  
li{list-style:none}
img{border:0;vertical-align:middle}
table{border-collapse:collapse;border-spacing:0}
button, input, select, textarea{background:#fff; }
img{-webkit-backface-visibility: hidden;-webkit-transition: opacity 0.3s ease-out;-moz-transition: opacity 0.3s ease-out;-o-transition: opacity 0.3s ease-out;transition: opacity 0.3s ease-out;}
img:hover{opacity:0.8}
p{word-wrap:break-word}  
.cf:after{content:"";display:table;clear:both}  
.cf{*zoom:1}
.fl,.layout .fl,.chief{float:left;display:inline}
.fr,.layout .fr,.extra{float:right;display:inline}
h1,h2,h3,dt{font-family:'Î¢ÈíÑÅºÚ','ºÚÌå';font-weight:100;font-size:16px;}

/* ÊÓÒ° */
.picBox{overflow:hidden;zoom:1;margin:5px auto 0 auto;width:630px;}
.picL{overflow:hidden;zoom:1;margin-left:-1px;}
.picL li{overflow:hidden;position:relative;float:left; display:inline; width:295;height:200px;margin:10px 8px 15px  1px; zoom:1  }
.picL li .text{background:#000;opacity:.5;font-weight:bold;position:absolute;width:295;height:200px;top:150px;left:0;font-family:'Î¢ÈíÑÅºÚ','ºÚÌå';}
.picL li .text b{background:#0d3879;padding:5px 15px;color:#fff;font-size:10px;display:inline-block;*display:inline;zoom:1;font-weight:100;}
.picL li .text p{font-size:15px;line-height:24px; }
.picL li .text a{color: #fff;display: block;height: 80px;padding-top:2px;padding-left:5px}
